<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dwms.system.dao.ApplyMapper">
  <resultMap id="BaseResultMap" type="com.dwms.system.domain.Apply">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="applyId" jdbcType="INTEGER" property="applyId" />
    <result column="partyName" jdbcType="VARCHAR" property="partyName" />
    <result column="memNum" jdbcType="INTEGER" property="memNum" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="contract" jdbcType="VARCHAR" property="contract" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="partyId" jdbcType="INTEGER" property="partyId" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>