<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dwms.advert.dao.AdvertKeyMapper">
  <resultMap id="BaseResultMap" type="com.dwms.advert.domain.AdvertKey">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="adKey" jdbcType="VARCHAR" property="adKey" />
    <result column="keyName" jdbcType="VARCHAR" property="keyName" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>